{% extends '_layouts/index.html.twig' %}

{% block headext %}
<link rel="stylesheet" type="text/css" href="{{ asset_url()~'cssapp/general.css' }}" media="all">
{% endblock %}


{% block content %}
{% import '_tools/formElements.twig' as forms %}

<div class="row-fluid">
	<div class="box span12">
		<div class="box-header well">
			<h2>{{ lang('sc_systems') }}</h2>
			<div class="box-icon">
				<a href="#" class="btn addplan btn-round"><i class="icon-plus"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="wide-list systemlist">
			</ul>
		</div>
	</div>
</div>
<div class="systemcont" style="display:none;">
	<div class="row-fluid">
		<div class="box span6 systemform"  style="display:none;">
    		<div class="box-header well">
				<h2 class="scadd" style="display:none;">{{ lang('sc_systemadd') }}</h2>
				<h2 class="scedt" style="display:none;">{{ lang('sc_systemedt') }}</h2>
    			<div class="box-icon">
    				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
    			</div>
    		</div>
			<div class="box-content">
				<form id="systemedt" class="form-horizontal" method="post">
					{{ forms.campo({'tipo':'input','type':'hidden','name':'scid'}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'scname','label':lang('sc_name'),'maxlength':45}) }}
					{{ forms.campo({'tipo':'textarea','label':lang('description'),'name':'scdescription','cols':50}) }}
					{{ forms.campo({'tipo':'select','label':lang('sc_duration'),'name':'scduration',
						'opciones':config.school.systemduration }) }}
					{{ forms.campo({'tipo':'select','label':lang('sc_status'),'name':'scstatus',
						'opciones':config.school.systemstatus }) }}
					<div class="form-actions">
						<p class="center span5">
                       		<button type="submit" class="btn btn-primary">{{ lang('save') }}</button>
                    	</p>
                    </div>
				</form>
			</div>
		</div>
		<div class="box span6 systemcicles" style="display:none;">
			<div class="box-header well">
				<h2>{{ lang('sc_cicles') }}</h2>
				<div class="box-icon">
					<a href="#" class="btn btn_addcicle btn-round"><i class="icon-plus"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="cicleedt box box-content" style="display:none;">
					<i class="icon-remove closeedtcicle" style="float:right"></i>
					<form id="cicleedit" class="form-horizontal">
					{{ forms.campo({'tipo':'input','type':'hidden','name':'scsystemid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'cicleid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'cicleorder'}) }}
					{{ forms.campo({tipo:'input','type':'text',name:'cicleabbr',label: lang('sc_abbr'),maxLength:5 }) }}
					{{ forms.campo({tipo:'input','type':'text',name:'ciclename',label: lang('sc_cicle'),prepend:{tipo:'button',icon:'check','title':lang('save')}})}}
					</form>
				</div>
				<ul class="wide-list">
				
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid ">
		<div class="box span6 systemdivs" style="display:none;">
			<div class="box-header well">
				<h2>{{ lang('sc_periods') }}</h2>
				<div class="box-icon">
					<a href="#" class="btn btn_adddiv btn-round"><i class="icon-plus"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="divedt box box-content" style="display:none;">
					<i class="icon-remove closeedtdiv" style="float:right"></i>
					<form id="divedit" class="form-horizontal">
					{{ forms.campo({'tipo':'input','type':'hidden','name':'scsystemid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'divid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'divorder'}) }}
					{{ forms.campo({tipo:'input','type':'text',name:'divname',label: lang('sc_period'),prepend:{tipo:'button',icon:'check','title':lang('save')}})}}
					</form>
				</div>
				<ul class="wide-list">
				
				</ul>
			</div>
		</div>
		<div class="box span6 systeminplans">
			<div class="box-header well">
				<h2>{{ lang('sc_systeminplan') }}</h2>
				<div class="box-icon">
					<a href="#" class="btn btn_addplan btn-round"><i class="icon-plus"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="planedt box box-content" style="display:none;">
					<i class="icon-remove closeedtplan" style="float:right"></i>
					<form id="planedit" class="form-horizontal">
						{{ forms.campo({'tipo':'input','type':'hidden','name':'scsystemid'}) }}
						{{ forms.campo({'tipo':'input','type':'hidden','name':'planid'}) }}
						{{ forms.campo({tipo:'input','type':'text',name:'planname',label: lang('name')})}}
						{{ forms.campo({'tipo':'textarea','label':lang('description'),'name':'plandescription','cols':50}) }}
						<div class="form-actions">
							<p class="left">
								{{ forms.campo({tipo:'button',value:lang('save'),icon:'check'}) }}
							</p>
						</div>
					</form>
				</div>
				<ul class="wide-list">
				
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block jscode %}
<script type="text/javascript">
loadsystems();
$('.btn_addcicle').click(function(){
	$('.cicleedt').slideDown();
	resetForm($('.cicleedt').find('form'));
	$('.cicleedt').find('input[name=cicleid]').val(0);
});
$('.btn_adddiv').click(function(){
	$('.divedt').slideDown();
	resetForm($('.divedt').find('form'));
	$('.divedt').find('input[name=divid]').val(0);
});
$('.btn_addplan').click(function(){
	$('.planedt').slideDown();
	resetForm($('.planedt').find('form'));
	$('.planedt').find('input[name=planid]').val(0);
});
$('.closeedtdiv').click(function(){
	$('.divedt').slideUp();
	resetForm($('.divedt').find('form'));
	$('.divedt').find('input[name=divid]').val(0);
});
$('.closeedtcicle').click(function(){
	$('.cicleedt').slideUp();
	resetForm($('.cicleedt').find('form'));
	$('.cicleedt').find('input[name=cicleid]').val(0);
});
$('.closeedtplan').click(function(){
	$('.planedt').slideUp();
	resetForm($('.planedt').find('form'));
	$('.planedt').find('input[name=planid]').val(0);
});

$('#cicleabbr').keyup(function(){
	$(this).val($(this).val().toUpperCase());
});
$('.addplan').click(function(){
	$('.systemcont').slideUp();
	$('.systemcicles').slideUp();
	$('.systeminplans').slideUp();
	$('.systemcicles').find('ul').children().remove();
	$('.systemform').slideDown();
	$('.systemform').find('input[name=scid]').val(0);
	$('h2.scadd').slideDown();
	$('h2.scedt').slideUp();
	resetForm($('.systemcont').find('form'));
	$('.systemcont').slideDown();
	$('.systemform').find('select[name="scstatus"]').closest('.control-group').slideUp();
	$('.systemcont').find('select[name=scduration]').closest('.control-group').slideUp();
});
$('#planedit').validate({
	errorClass:'errorlabelform',
    elErrorClass:'errorlabel',
    rules:{
    	planname:{required:true},
    	plandescription:{required:true},
    },
    messages:{
    	planname:{required:'{{ lang('required')|format('')}}'},
    	plandescription:{required:'{{ lang('required')|format('')}}'},
    },
    submitHandler: function(form) {
    	$.ajax({
                type:"POST",
                url: '{{ site_url('school/addplan') }}',
                dataType:'json',
                data: $(form).serializeObject(),
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            
            	resetForm($('form#planedit'));
            	$('.planedt').slideUp();
            	if($('.systemplans').find('ul').find('li[data-id='+data.plan.planid+']').length>0){
            		$('.systemplans').find('ul').find('li[data-id='+data.plan.planid+']').find('.planname').html(data.plan.url);
            		$('.systemplans').find('ul').find('li[data-id='+data.plan.planid+']').find('.plandesc').html(data.plan.plandescription);
            	}else{
            		addplan(data.plan.planid,data.plan.url,data.plan.plandescription);
            	}
            });
    }
});
$('#divedit').validate({
	errorClass:'errorlabelform',
    elErrorClass:'errorlabel',
    rules:{
    	divname:{required:true}
    },
    messages:{
    	divname:{required:'{{ lang('required')|format('')}}'},
    },
    submitHandler: function(form) {
    	// do other stuff for a valid form
    	var data= $(form).serializeObject();
    	data.divorder=$('.systemdivs li').index($('.systemdivs').find('ul').find('li[data-id='+$(form).find('input[name=divid]').val()+']'))+1;
    	$.ajax({
                type:"POST",
                url: '{{ site_url('school/adddivision') }}',
                dataType:'json',
                data: data,
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            
            	resetForm($('form#divedit'));
            	$('.divedt').slideUp();
            					
            	if($('.systemdivs').find('ul').find('li[data-id='+data.div.divid+']').length>0){
            		$('.systemdivs').find('ul').find('li[data-id='+data.div.divid+']').find('.divedtname').html(data.div.divname);
            	}else{
            		adddiv(data.div.divid,data.div.divname,true);
            		sortable_divs();
            		dom_divs();
            	}
            });
    }
});
$('#cicleedit').validate({
	errorClass:'errorlabelform',
    elErrorClass:'errorlabel',
    rules:{
    	ciclename:{required:true},
    	cicleabbr:{required:true,lettersNumber:true}
    },
    messages:{
    	ciclename:{required:'{{ lang('required')|format('')}}'},
    	cicleabbr:{required:'{{ lang('required')|format('')}}',lettersNumber:'{{ lang('alpha_numeric')|format('') }}'},
    },
    submitHandler: function(form) {
    	// do other stuff for a valid form
    	var data= $(form).serializeObject();
    	data.cicleorder=$('.systemcicles li').index($('.systemcicles').find('ul').find('li[data-id='+$(form).find('input[name=cicleid]').val()+']'))+1;
    	$.ajax({
                type:"POST",
                url: '{{ site_url('school/addcicle') }}',
                dataType:'json',
                data: data,
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            	resetForm($('form#cicleedit'));
            	$('.cicleedt').slideUp();
            					
            	if($('.systemcicles').find('ul').find('li[data-id='+data.cicle.cicleid+']').length>0){
            		$('.systemcicles').find('ul').find('li[data-id='+data.cicle.cicleid+']').find('.cicleedtname').html(data.cicle.ciclename);
            		$('.systemcicles').find('ul').find('li[data-id='+data.cicle.cicleid+']').find('.cicleedtabbr').html(data.cicle.cicleabbr);
            	}else{
            		addcicle(data.cicle.cicleid,data.cicle.cicleabbr,data.cicle.ciclename,true);
            		sortable_cicles();
            		dom_cicles();
            	}
            });
    }
});
$('#systemedt').validate({
   	errorClass:'errorlabelform',
    elErrorClass:'errorlabel',
    ignore:':hidden.chzn',
    rules:{
    	scname:{
    		required: true,
            minlength:5,
    	},
    	scdescription:{
    		required: true,
            minlength:5,
    	}
    },
    messages:{
    	scname:{
    		required: '{{ lang('required')|format('')}}',
    		minlength: '{{ lang('min_length')|format('',5)}}',
    		
    	},
    	scdescription:{
    		required: '{{ lang('required')|format('')}}',
    		minlength: '{{ lang('min_length')|format('',5)}}',
    		
    	},
    },
    submitHandler: function(form) {
    	// do other stuff for a valid form
    	$.ajax({
                type:"POST",
                url: '{{ site_url('school/addsystem') }}',
                dataType:'json',
                data: $(form).serializeObject(),
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            	if (data.ok){
            		noty({text: '{{ lang('ajaxok')}}',type:'sucess',timeout:500});
            		loadsystems();
            		loadsystem(data.scid);
            	}else{
            		noty({text: '{{ lang('ajaxerror')}}',type:'error',timeout:500});
            	}
            });
  	}
});
function loadsystems(){
	$('systemlist').slideUp();
	$.ajax({
                type:"POST",
                url: '{{ site_url('school/getsystems') }}',
                dataType:'json',
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            	$('.systemlist').empty();
            	for (i in data.systems){
            		$('.systemlist').append(
            		'<li data-id="'+data.systems[i].id+'" class="getsystem">'+
							'<span class="span2"><i class="icon-cog action "></i></span>'+
							'<span class="span3">'+data.systems[i].name+' </span>'+
							'<span class="span4">'+data.systems[i].description+'</span>'+
					'</li>'
            		);
            	}
            	$('.systemlist').slideDown();
            	$('.getsystem').on('click',function(){
					loadsystem($(this).attr('data-id'));
				});
            });
}
function loadsystem(sysid){
	$('.systemcicles').find('ul').children().remove();
	$('.systemdivs').find('ul').children().remove();
	$('.systeminplans').find('ul').children().remove();
	$('.systemdivs').find('ul').sortable('cancel');
	$.ajax({
                type:"POST",
                url: '{{ site_url('school/getsystem') }}',
                dataType:'json',
                data: {'sysid':sysid},
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function (data) {
            	$('form#cicleedit').find('input[name=scsystemid]').val(data.id);
            	$('form#divedit').find('input[name=scsystemid]').val(data.id);
            	$('form#planedit').find('input[name=scsystemid]').val(data.id);
            	
            	$('.systemform').find('input[name=scid]').val(data.id);
            	$('.systemcont').find('input[name=scname]').val(data.sysdata.name);
            	$('.systemcont').find('textarea[name=scdescription]').val(data.sysdata.description);
            	$('.systemcont').find('select[name=scduration]').find('option').removeAttr('selected');
            	$('.systemcont').find('select[name=scduration]').find('option[value='+data.sysdata.duration+']').attr('selected',true);
            	$('.systemcont').find('select[name=scstatus]').find('option[value='+data.sysdata.status+']').attr('selected',true);
            	
            	if(data.cicles.length>0){
            		for (i in data.cicles){
            			addcicle(data.cicles[i].id,data.cicles[i].abbr,data.cicles[i].name,data.sysdata.status==0);
            		}
            	}
            	if(data.divisions.length>0){
            		for (i in data.divisions){
            			adddiv(data.divisions[i].id,data.divisions[i].name,data.sysdata.status==0);
            		}
            	}
            	
            	if(data.sysdata.status==0){
            		$('.systemcont').find('input[name=scname]').removeAttr('readonly');
            		$('.systemcont').find('textarea[name=scdescription]').removeAttr('readonly');
            		$('.systemcont').find('select[name=scduration]').closest('.control-group').slideDown();
            		$('.systemcont').find('select[name=scduration]').removeAttr('disabled').trigger("liszt:updated");
            		$('.systemcont').find('select[name=scstatus]').removeAttr('disabled').trigger("liszt:updated");
            		sortable_cicles();
            		dom_cicles();
            		sortable_divs();
            		dom_divs();
            	}else if(data.sysdata.status==1){
            		$('.systemcont').find('input[name=scname]').attr('readonly',true);
            		$('.systemcont').find('textarea[name=scdescription]').attr('readonly',true);
            		$('.systemcont').find('select[name=scduration]').attr('disabled', true).trigger("liszt:updated");
            		
            		$('.systemcont').find('select[name=scstatus]').find('option').filter(function(){return $(this).val()<data.sysdata.status}).attr('disabled', true);
            		$('.systemcont').find('select[name=scstatus]').removeAttr('disabled').trigger("liszt:updated");
    				$('.systeminplans').slideDown();
            	}else{
            		$('.systemcont').find('input[name=scname]').attr('readonly',true);
            		$('.systemcont').find('textarea[name=scdescription]').attr('readonly',true);
            		$('.systemcont').find('select[name=scduration]').attr('disabled', true).trigger("liszt:updated");
            		$('.systemcont').find('select[name=scstatus]').attr('disabled', true).trigger("liszt:updated");
            		$('.systemcont').find('button').attr('disabled', true);
    				$('.systeminplans').find('');//no mostrar boton de agregar nuevo plan
    				$('.systeminplans').slideDown();
            	}
            	
            	if($(data.inplan).length>0){
            		for (i in data.inplan){
            			addplan(data.inplan[i].id,data.inplan[i].url,data.inplan[i].description);
            		}
            	}
            	
				$('h2.scadd').slideUp();
				$('h2.scedt').slideDown();
				$('.systemform').slideDown();
				$('.systemcicles').slideDown();
				$('.systemdivs').slideDown();
				$('.systemcont').slideDown();
            });
}
function adddiv(id,name,allowedit){
	var addedit='';
	if(allowedit){
		addedit='<i class="icon-pencil edtdiv"></i><i class="delcicle icon-remove"></i>';
	}
	$('.systemdivs').find('ul').append('<li data-id="'+id+'">'+
            				'<span class="span6 divedtname">'+name+'</span>'+
            				'<span class="span2">'+addedit+'</span>'
           	 				);
}
function sortable_divs(){
	$('.systemdivs').find('ul').sortable({
		update: function(event, ui) {
			//create the array that hold the positions...
            var order = []; 
            //loop trought each li...
            $(ui.item).closest('ul').find('li').each( function(e) {
            	//add each li position to the array...     
               	// the +1 is for make it start from 1 instead of 0
               	order[parseInt($(this).attr('data-id'))]=$(this).index() + 1;
            });
			$.ajax({
                type:"POST",
                url: '{{ site_url('school/orderdivs') }}',
                dataType:'json',
                data: {'order':order,'system':$('#divedit').find('input[name=scsystemid]').val()},
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function(data){
            	
            });
        }
	});
}
function dom_divs(){
	$('.systemdivs').find('li').find('.edtdiv').click(function(){
        $('.divedt').find('input[id=divid]').val($(this).closest('li').attr('data-id'))
        $('.divedt').find('input[id=divname]').val($(this).closest('li').find('.divedtname').html())
        $('.divedt').slideDown();
    });
            		
    $('.systemdivs').find('li').find('.icon-remove').click(function(){
   		$.ajax({
        	type:"POST",
            url: '{{ site_url('school/delDivision') }}',
            dataType:'json',
            data: $(form).serializeObject(),
            error:function (jqXHR, textStatus, errorThrown) {
            	console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
            }
            }).done(function(data){
            					
            });
    });
}
function addcicle(id,abbr,name,allowedit){
	var addedit='';
	if(allowedit){
		addedit='<i class="icon-pencil edtcicle"></i><i class="delcicle icon-remove"></i>';
	}
	$('.systemcicles').find('ul').append('<li data-id="'+id+'">'+
            				'<span class="span3 cicleedtabbr">'+abbr+'</span>'+
            				'<span class="span6 cicleedtname">'+name+'</span>'+
            				'<span class="span2">'+addedit+'</span>'
           	 				);
}
function sortable_cicles(){
	$('.systemcicles').find('ul').sortable({
		update: function(event, ui) {
			//create the array that hold the positions...
            var order = []; 
            //loop trought each li...
            $(ui.item).closest('ul').find('li').each( function(e) {
            	//add each li position to the array...     
               	// the +1 is for make it start from 1 instead of 0
               	order[parseInt($(this).attr('data-id'))]=$(this).index() + 1;
            });
			$.ajax({
                type:"POST",
                url: '{{ site_url('school/ordercicles') }}',
                dataType:'json',
                data: {'order':order,'system':$('#cicleedit').find('input[name=scsystemid]').val()},
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
            }).done(function(data){
            	
            });
        }
	});
}
function dom_cicles(){
	$('.systemcicles').find('li').find('.edtcicle').click(function(){
        $('.cicleedt').find('input[id=cicleid]').val($(this).closest('li').attr('data-id'))
        $('.cicleedt').find('input[id=cicleabbr]').val($(this).closest('li').find('.cicleedtabbr').html())
        $('.cicleedt').find('input[id=ciclename]').val($(this).closest('li').find('.cicleedtname').html())
        $('.cicleedt').slideDown();
    });
            		
    $('.systemcicles').find('li').find('.icon-remove').click(function(){
   		$.ajax({
        	type:"POST",
            url: '{{ site_url('school/addcicle') }}',
            dataType:'json',
            data: $(form).serializeObject(),
            error:function (jqXHR, textStatus, errorThrown) {
            	console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
            }
            }).done(function(data){
            					
            });
    });
}
function addplan(planid,planurl,plandescription){
	$('.systeminplans').find('ul').append('<li data-id="'+planid+'">'+
            				'<span class="span3 planname">'+planurl+'</span>'+
            				'<span class="span6 plandesc">'+plandescription+'</span>'
           	 				);
}
</script>
{% endblock %}
