{% extends '_layouts/login.html.twig' %}
{% block content %}
{% import '_tools/formElements.twig' as forms %}
<div class="row-fluid">
	<div class="span12 center login-header">
		<h2>{{ obj.lang.line('bitauth_logingreeting') }} {{ obj.config.item('app_name') }} </h2>
	</div><!--/span-->
</div><!--/row-->
			
<div class="row-fluid">
	<div class="well span5 center login-box">
		<div class="alert alert-info">
		    {{ obj.lang.line('bitauth_pleaselogin') }}
		</div>
        <form id="formulario"  class="form-horizontal" method="post" >
            <fieldset>
                {{ forms.campo({'tipo':'input','label':obj.lang.line('bitauth_username'),'type':'text','name':'username','value':'','maxlenght':20,'placeholder':obj.lang.line('bitauth_usernameholder')}) }}
                {{ forms.campo({'tipo':'input','label':obj.lang.line('bitauth_pwd'),'type':'password','name':'password','value':'','maxlenght':20,'placeholder':obj.lang.line('bitauth_pwdholder')}) }}
            </fieldset>
            <div class="center span5">
                <button type="submit" name="submit" class="btn btn-primary" value="login">{{ obj.lang.line('bitauth_login') }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}