{% extends '_layouts/email.html.twig' %}

{% block emailtitle %}
    {{ lang('auth_createnewpassword')|format(config.appname) }}
{% endblock  %}
{% block subtitle %}
    {{ lang('autn_getnewpsw') }}
{% endblock  %}

{% block content %}
{{ lang('auth_newpswlabel') }}<br />
<br />
<big style="font: 16px/18px Arial, Helvetica, sans-serif;"><b><a href="{{ site_url('/auth/activate/'~userid~'/'~new_email_key) }}" style="color: #3366cc;">{{ lang('auth_confirm') }}</a></b></big><br />
<br />
{{ lang('linktoaddressbar') }}<br />
<nobr><a href="{{ site_url('/auth/reset_password/'~userid~'/'~new_email_key) }}" style="color: #3366cc;">{{ site_url('/auth/reset_password/'~userid~'/'~new_email_key) }}</a></nobr><br />
<br />
{{ lang('auth_newpswignore') }}
<br />
<br />
<br />
{{ lang('auth_theteam')|format(config.appname) }}
{% endblock %}