{% extends '_layouts/index.html.twig' %}

{% block headext %}
<link rel="stylesheet" type="text/css" href="{{ asset_url()~'cssapp/general.css' }}" media="all">
{{ css('jquery.tagsinput.css') }}
{% endblock %}
{% import '_tools/library.twig' as library %}
{% block content %}
{% import '_tools/formElements.twig' as forms %}
<div class="row-fluid">
    <div class="box span6">
	    <div class="box-header well">
			<h2>{{ lang('lbcategories') }}</h2>
			<div class="box-icon">
				<a href="#" title="{{ lang('lbaddcategories') }}" class="btn btn_addcat btn-round"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
	        <div class="areaedt" style="display:none;">
				<i class="icon-remove closeedtarea" style="float:right"></i>
				<form id="libcatedt" class="form-horizontal" method="post">
					{{ forms.campo({'tipo':'input','type':'hidden','name':'libcatid'}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'libname','label':lang('name'),'maxlength':45}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'libident','label':lang('lbcatident'),'maxlength':2}) }}
					{{ forms.campo({'tipo':'select','name':'lbcatparent','label':lang('lbcatparent'),'opciones':{0:lang('noone')}}) }}
					<div class="form-actions">
						<p class="center">
                      		<button type="submit" class="btn btn-primary">{{ lang('save') }}</button>
                   		</p>
                   	</div>
				</form>
			</div>
            <div id="treecontrol">
        		<a title="{{ lang('tree_collapse_title') }}" href="#"><img src="{{ img_url() }}tree/minus.gif" />{{ lang('tree_collapse') }}</a>
        		<a title="{{ lang('tree_expand_title') }}" href="#"><img src="{{ img_url() }}tree/plus.gif" /> {{ lang('tree_expand') }}</a>
        		<a title="{{ lang('tree_expand_title') }}" href="#">{{ lang('tree_toggle') }}</a>
        		
        	</div>
            <ul id="cattree" class="treeview-gray">
            
            </ul>
        </div>
    </div>
    <div class="box span6 sumarycont form-horizontal" style="display:none;">
	    <div class="box-header well">
			<h2>{{ lang('lbcategory') }}:<span id="selectedcategory"></span></h2>
			<div class="box-icon">
				<a href="#" title="{{ lang('lbaddbook') }}" class="btn btn_addbook btn-round"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
    		<div class="bookedt box span12" style="display:none;">
				<i class="icon-remove closeedtbook" style="float:right"></i>
				<form id="bookedt" class="form-horizontal" method="post">
				{% set datasource=editorials|json_encode() %}
				    {{ forms.campo({'tipo':'input','type':'hidden','name':'bookid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'libcatid'}) }}
					{{ forms.campo({'tipo':'input','type':'hidden','name':'parentident'}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookname','label':lang('book_title'),'maxlength':45}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookeditorial','label':lang('book_editorial'),'class':'typeahead','extra':'data-provide="typeahead" data-items="5" data-source= \''~datasource~'\''}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookauthor','label':lang('book_author'),'maxlength':45}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookkeywords','label':lang('book_keywords')}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookyear','label':lang('book_year'),'maxlength':4}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookident','label':lang('lbcatident'),'maxlength':4,'append':{'tipo':'label','id':'catident'}}) }}
					{{ forms.campo({'tipo':'input','type':'text','name':'bookedition','label':lang('book_edition'),'maxlength':10}) }}
					<div class="form-actions">
						<p class="center">
                      		<button type="submit" class="btn btn-primary">{{ lang('save') }}</button>
                   		</p>
                   	</div>
				</form>
			</div>
	    </div>
    </div>
</div>
<div class="row-fluid">
    <div class="box span12">
    <table id="bookscreated" class="table table-striped table-bordered bootstrap-datatable">
        <thead><tr><th>{{ lang('lbcatident') }}</th><th>{{ lang('book_title') }}</th><th>{{ lang('book_editorial') }}</th><th>{{ lang('book_author') }}</th></tr></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
    </div>
</div>
{% endblock %}
 {% block jscode %}
{{ js('jquery.tagsinput.js') }}
<script type="text/javascript">
$(document).ready(function() {
	var tablebooks=$('#bookscreated').dataTable({
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sProcessing": "{{ lang('table_processing') }}",
            "sLengthMenu": "{{ lang('table_recordsperpage') }}",
            "sZeroRecords": "{{ lang('table_noregisters') }}",
            "sEmptyTable": "{{ lang('table_empty') }}",
            "sInfo": "{{ lang('table_pager') }}",
            "sInfoEmpty": "{{ lang('table_pagerempty') }}",
            "sInfoFiltered": "{{ lang('table_filtered') }}",
            "sSearch": "{{ lang('table_search') }}",
            "sLoadingRecords": "{{ lang('table_loading') }}",
            "oAria": {
                "sSortAscending": "{{ lang('table_sortAsc') }}",
                "sSortDescending": "{{ lang('table_sortDesc') }}",
            },
            "oPaginate": {
                "sFirst": "{{ lang('table_first') }}",
                "sLast": "{{ lang('table_last') }}",
                "sNext": "{{ lang('table_next') }}",
                "sPrevious": "{{ lang('table_previous') }}",
            },
        }
    });
	$('.btn_addbook').click(function(){
		$('.bookedt').slideDown();
		resetForm($('.bookedt').find('form'));
		$('.bookedt').find('form').find('#bookkeywords').clearTag();
		$('.cicleedt').find('input[name=bookid]').val(0);
	});
	$('.closeedtbook').click(function(){
		$('.bookedt').slideUp();
		$('.bookedt').find('form').find('#bookkeywords').clearTag();
		$('.cicleedt').find('input[name=bookid]').val(0);
		resetForm($('.bookedt').find('form'));
	});
	$('.btn_addcat').click(function(){
		$('.areaedt').slideDown();
		resetForm($('.areaedt').find('form'));
		$('.areaedt').find('input[name=libcatid]').val(0);
	});
	$('.closeedtarea').click(function(){
		$('.areaedt').slideUp();
		resetForm($('.areaedt').find('form'));
		$('.areaedt').find('input[name=libcatid]').val(0);
	});
	$('#bookedt').validate({
		errorClass:'errorlabelform',
	    elErrorClass:'errorlabel',
	    ignore:':hidden.chzn',
	    rules:{
	    	bookname:{required: true,minlength:5,},
	    	bookeditorial:{required: true,minlength:3},
	    	bookauthor:{required: true,minlength:3},
	    	bookkeywords:{required: true,minlength:3},
	    	bookyear:{required: true,minlength:3,number:true},
	    	bookedition:{required: true},
	    	bookident:{required:true,minlength:3,number:true}
	    },
	    messages:{
	    	bookname:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',5)}}',
	    	},
	    	bookeditorial:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',3)}}',
	    	},
	    	bookauthor:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',3)}}',
	    	},
	    	bookyear:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',3)}}',
	    		number: '{{ lang('is_numeric')|format('')}}',
	    	},
	    	bookedition:{
	    		required: '{{ lang('required')|format('')}}',
	    	},
	    	bookident:{
	    	    required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',3)}}',
	    		number: '{{ lang('is_numeric')|format('')}}',
            },
	    	bookkeywords:{
            	required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',3)}}',
		    }
	    },
	    submitHandler: function(form) {
		    if($(form).serializeObject().libcatid==0){
		    	showNotification('{{ lang('lbchoosecategory') }}');
		    	return;
			}
	    	$.ajax({
	                type:"POST",
	                url: '{{ site_url('library/addbook') }}',
	                dataType:'json',
	                data: $(form).serializeObject(),
	                error:function (jqXHR, textStatus, errorThrown) {
	                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
	                }
	            }).done(function (data) {
		            if (data.error){
		            	showNotification(data.error);
			        }else{
			        	$('.closeedtbook').trigger('click');
			            load_lastcreated();
				    }
	            });
	    }
	});
	$('#libcatedt').validate({
		errorClass:'errorlabelform',
	    elErrorClass:'errorlabel',
	    ignore:':hidden.chzn',
	    rules:{
	    	libname:{required: true,minlength:5,},
	    	libident:{required: true,minlength:1},
	    },
	    messages:{
	    	libname:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',5)}}',
	    		
	    	},
	    	libident:{
	    		required: '{{ lang('required')|format('')}}',
	    		minlength: '{{ lang('min_length')|format('',5)}}',
	    		
	    	},
	    },
	    submitHandler: function(form) {
	    	$.ajax({
	                type:"POST",
	                url: '{{ site_url('library/addcategory') }}',
	                dataType:'json',
	                data: $(form).serializeObject(),
	                error:function (jqXHR, textStatus, errorThrown) {
	                    console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
	                }
	            }).done(function (data) {
	            	if (data.catid){
	            		loadcategories();
	            		$('.closeedtarea').trigger('click');
	            	}else{
	            		showNotification('{{ lang('ajaxerror') }}');
	            	}
	            });
	    }
	});
	$('form#bookedt').find('input[name=bookkeywords]').tagsInput({
    	'defaultText':'{{ lang('add')~'...' }}',
    	'removetagText':'{{ lang('delete')}}',
    	'width':'auto',
    });
    $('#bookkeywords_tag').keyup(function(event){
        if(event.keyCode==32 && $(this).val().trim().length>0){
        	$('form#bookedt').find('input[name=bookkeywords]').addTag($(this).val().trim(),{'removeText':'{{ lang('delete') }}'});
            $(this).val('');
        }
    });
    function addparent(catid,catname,ident){
        $('#cattree').append('<li data-id="'+catid+'"><span class="folder">'+ident+'00-'+catname+
                '<span"><i class="icon-chevron-right viewcat" title="{{ lang('lbadminbooks') }}"></i></span></span><ul></ul></li>');
    }
    function addchildren(catid,subcatid,subcatname,ident,haschild){
        var thirdhtml=(haschild)?'<ul></ul>':'';
        $('#cattree').find('li[data-id='+catid+']').children('ul').append('<li data-id='+subcatid+'><span class="folder">'+
                ident+'-'+subcatname+'<span><i class="icon-chevron-right viewcat" title="{{ lang('lbadminbooks') }}"></i></span></span>'+thirdhtml+'</li>');
    }
    function dom_tree(){
        $('.viewcat').click(function(){
        	$('#cattree').find('span').removeClass('selected');
            $(this).closest('span.folder').addClass('selected');
            $.ajax({
            	type:"POST",
                url: '{{ site_url('library/loadcategory') }}',
                dataType:'json',
                data: {cat:$(this).closest('li').attr('data-id')},
                error:function (jqXHR, textStatus, errorThrown) {
                	console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
                }
                }).done(function(data){
                    $('.sumarycont').find('#selectedcategory').html(data.cat.name);
                    $('.sumarycont').find('#catident').children('label').html(data.cat.ident);
                    $('.sumarycont').find('#parentident').val(data.cat.ident);
                    $('.sumarycont').find('#libcatid').val(data.cat.id);
                    $('.sumarycont').slideDown();
                });
        });
        $('.editcat').click(function(){
            
        });
    }
    function loadcategories(){
    	$('#cattree').empty();
    	$.ajax({
        	type:"POST",
            url: '{{ site_url('library/loadcategories') }}',
            dataType:'json',
            data: {cicle:$(this).closest('li').attr('data-id'),system:$(this).closest('.systemcicles').find('form#cicleedit').find('input[name="scsystemid"]').val()},
            error:function (jqXHR, textStatus, errorThrown) {
            	console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
            }
            }).done(function(data){
                console.log(data);
                var firstsum=null;
                var secondsum=null;
                $('form#libcatedt').find('select[name=lbcatparent]').find('option').not('[value=0]').remove();
                for (i in data.cats){
                    firstsum=data.cats[i];
                    addparent(firstsum.id,firstsum.name,firstsum.ident);
                    $('form#libcatedt').find('select[name=lbcatparent]').append('<option value="'+firstsum.id+'">'+firstsum.ident+'00 -'+firstsum.name+'</option>');
                    if(firstsum.childrens){
                        for (j in firstsum.childrens){
                            secondsum=firstsum.childrens[j]
                            addchildren(firstsum.id,secondsum.id,secondsum.name,firstsum.ident+secondsum.ident+'0',true);
                            $('form#libcatedt').find('select[name=lbcatparent]').append('<option value="'+secondsum.id+'">- '+firstsum.ident+secondsum.ident+'0 -'+secondsum.name+'</option>');
                            if(secondsum.childrens){
                                for(k in secondsum.childrens){
                                    thirdsum=secondsum.childrens[k];
                                    addchildren(secondsum.id,thirdsum.id,thirdsum.name,firstsum.ident+secondsum.ident+thirdsum.ident,false);
                                }
                            }
                        }
                    }
                }
                $('form#libcatedt').find('select[name=lbcatparent]').trigger("liszt:updated");
                $("#cattree").treeview({
                	control: "#treecontrol",
            		persist: "cookie",
            		cookieId: "treeview-black"
            	});
                dom_tree();
            });
    }
    function load_lastcreated(){
    	$.ajax({
            type:"POST",
            url: '{{ site_url('library/lastcreated') }}',
            dataType:'json',
            error:function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify(jqXHR) + ' ' + textStatus + '  ' + errorThrown);
            }
        }).done(function (data) {
        	tablebooks.fnClearTable();
        	for (i in data.books){
        		popovercontent='<b>{{ lang('book_year') }}:</b> '+data.books[i].year+'<br/>'+
        		'<b>{{ lang('datecreated') }}:</b> '+data.books[i].timecreated+'<br/><b>{{ lang('book_edition') }}:</b> '+data.books[i].edition+'<br/>'+
        		'<b>{{ lang('book_keywords') }}:</b> '+data.books[i].keywords+'<br/>';
            	title=data.books[i].title+'<a href="#" class="icon-hand-right" data-rel="popover" '+
                    'data-content="'+popovercontent+'" data-original-title="'+data.books[i].title+'"></a>';
        		tablebooks.fnAddData( [data.books[i].ident,title,data.books[i].editorial,data.books[i].author] );
            }
        	tablebooks.fnDraw();
        	$('[rel="popover"],[data-rel="popover"]').popover();
        });
    }
    load_lastcreated();
    loadcategories();
});
</script>
{{ library.searchbookjs() }}
{% endblock %}