{% extends '_layouts/login.html.twig' %} 
{% block content %} 
{% import '_tools/formElements.twig' as forms %}
    {% if login_by_username and login_by_email %} 
        {% set logintitle=lang('auth_logwithusernameormail') %} 
    {% elseif login_by_username %} 
        {% set logintitle=lang('auth_email_in_use') %} 
    {% elseif auth_logwithemail %} 
        {% set logintitle=lang('auth_email_in_use') %} 
    {% endif %}
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span12 center login-header">
            <h2>{{ lang('auth_welcome')|format(config.appname) }}</h2>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="row-fluid">
        <div class="well span5 center login-box">
            {% if errors is iterable and errors|length > 0 %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{ lang('error') }}</strong>
                    {% for error in errors %}
                        {{ error }}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            <form id="formlogin" class="form-horizontal" action="{{ current_url() }}"  method="post">
                <fieldset>
                    <div class="left" style="text-align:left;">
                    {{ forms.campo({'tipo':'input','label':logintitle,'class':'','type':'email','name':'login','id':'login','maxlength': config.tank_auth.password_max_length,'placeholder': '','append':'@'}) }}
                    </div>
                    <div class="clearfix"></div>
                    <p class="center span5">
                        <button type="submit" class="btn btn-primary">{{ lang('autn_getnewpsw') }}</button>
                    </p>
                </fieldset>
            </form>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/fluid-row-->
{% endblock %}
{% block jscode %}
<script type="text/javascript">
$().ready(function(){
    $('#formlogin').validate({
        rules:{
        	email:{
                required: true,
                email:true,
                },
        },
        messages:{
        	email:{
                required: "{{ lang('auth_required') }}",
                email:"{{ lang('auth_email_formatwrong') }}",
                },
    });
});
</script>
{% endblock %}