{% extends '_layouts/login.html.twig' %} 
{% block content %} 
{% import '_tools/formElements.twig' as forms %}
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span12 center login-header">
            <h2>{{ lang('auth_welcome')|format(config.appname) }}</h2>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <div class="row-fluid">
        <div class="well span5 center login-box">
            {% if errors is iterable and errors|length > 0 %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{ lang('error') }}</strong>
                    {% for error in errors %}
                        {{ error }}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            <form id="formlogin" class="form-horizontal" action="{{ current_url() }}"  method="post">
                <fieldset>
                    <div class="left" style="text-align:left;">
                        {{ forms.campo({'tipo':'input','label':lang('auth_password'),'class':'','type':'password','name':'password','id':'password','maxlength': config.tank_auth.password_max_length,'placeholder': lang('auth_reg_password')}) }}
                    </div>
                    <div class="clearfix"></div>
                    <p class="center span5">
                        <button type="submit" class="btn btn-primary">{{ lang('send') }}</button>

                    </p>
                </fieldset>
            </form>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/fluid-row-->
{% endblock %}
{% block jscode %}
<script type="text/javascript">
$().ready(function(){
    $('#formlogin').validate({
        rules:{
        	password:{
                required: true,
                },
        },
        messages:{
        	password:{
                required: "{{ lang('auth_required') }}",
                },
    });
});
</script>
{% endblock %}