{% macro menu(items,class,vertical) %}
    <ul class="nav {{ class }} {% if vertical %} nav-stacked{% else %} nav-list {% endif %}">
    {% for keyitem,item in items %}
        {% if item.options %}
            <li class="dropdown-submenu">
                <li class="nav-header hidden-tablet">{{ lang(keyitem) }}</li>
                {{ _self.dropdown_menu(item.options,false) }}
            </li>
        {% else %}
            <li>{{ anchor(item.url,lang(item.label)) }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% macro dropdown_menu(items,submenu) %}
        {% for keyitem,item in items %}
            {% if item.options %}
                <li class="dropdown-submenu">
                <a href="#">{{ lang(keyitem) }} <b class="caret"></b></a>
                {{ _self.dropdown_menu(items.options,true) }}
                </li>
            {% else %}
                <li>{{ anchor(item.url,lang(item.label)) }}</li>
            {% endif %}
        {% endfor %}
{% endmacro %}