{% macro menu(items,class,vertical) %}
    <ul class="nav {{ class }} {% if vertical %} nav-stacked {% endif %}">
    {% for item in items %}
        {% if item.options %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.label }} <b class="caret"></b></a>
            {{ _self.dropdown_menu(items.options,vertical) }}
            </li>
        {% else %}
            <li>{{ anchor(item.url,item.label) }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% macro dropdown_menu(items,submenu) %}
    <ul class="dropdown-{% if submenu %}sub{% endif %}menu">
        {% for item in items %}
            {% if item.options %}
                <li class="dropdown-submenu">
                <a href="#">{{ item.label }} <b class="caret"></b></a>
                {{ _self.dropdown_menu(items.options,true) }}
                </li>
            {% else %}
                <li>{{ anchor(item.url,item.label) }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}